<body>
    <div class="main">    
    <input type="checkbox" id="chk" aria-hidden="true">
    <div class="signUp">
    <label>Registrazione</label>
    
    <form #registrazioneform="ngForm" (ngSubmit)="onSubmit(registrazioneform)">
    
      <p style="color:#fff; margin-left: 70px; font-size:medium;">Email</p>
      <input type="email"  placeholder="utente@gmail.com" required>
      <p style="color:#fff; margin-left: 70px; font-size:medium;">Password</p>
      <input type="password" placeholder="Password" autocomplete="off">  
      <button type="submit" style="margin-top: 40px;" [disabled]="!registrazioneform.valid">ACCEDI</button>
      <button type="button" routerLink="/homepage">HOME</button>
    
    
    </form>
    </div>
    <div *ngIf="inserito==true">
      <p class="registration-message">
        Registrazione effettuata
      </p>
    </div>
    </div>
</body>