<body style="margin-left: 70px; margin-top: 30px;" *ngIf="length==true;else template">

    <h1 style="font-weight: bold;">Lista Utenti</h1>

<ol>
    <div *ngFor="let item of array; let i=index"> 
        <li>       
            UID: <b>{{ item.uid[i] }}</b>
            <br>
            EMAIL: {{ item.email }}
            <br>
            PASSWORD: {{ item.password }}
        </li>
        <br>
    </div>
  
</ol>

</body>
<ng-template #template >
    <h1 style="font-weight: bold; margin-left: 400px; margin-top: 100px;opacity: 0.6;">Lista Utenti Vuota</h1> 
    <img mat-card-image src="\assets\foto\noOne.jpg" style="width: 30%;opacity: 0.5;margin-left: 350px;">
</ng-template>
