<body>
    <div class="main">    
    <input type="checkbox" id="chk" aria-hidden="true">
    <div class="signUp">
    <label>Login</label>
    
    <form #loginform="ngForm" (ngSubmit)="onSubmit(loginform)">
    
      <p style="color:#fff; margin-left: 70px; font-size:medium;">Email</p>
      <input type="email"  placeholder="utente@gmail.com" required>
      <p style="color:#fff; margin-left: 70px; font-size:medium;">Password</p>
      <input type="password" placeholder="Password" autocomplete="off">  
      <button type="submit" style="margin-top: 40px;" [disabled]="!loginform.valid">ACCEDI</button>
      <button type="button" routerLink="/homepage">HOME</button>
    
    
    </form>
    </div>
    <div *ngIf="isAuthenticated==true;">
      <p class="login-message">
        Login effettuato con successo!
      </p>
    </div>


  </div>
</body>
  
