<body>
    <div class="main">    
    <input type="checkbox" id="chk" aria-hidden="true">
    <div class="signUp">
    <label>Login</label>
    
    <form #loginform="ngForm" (ngSubmit)="onSubmit(loginform)">

      <input type="email" name="email" placeholder="utente@esempio.com" autocomplete="off" value="submit"  ngModel required>
    <input type="password" name="password" placeholder="Password" autocomplete="off" value="submit"  ngModel required>
    <br>
    <button type="submit"  [disabled]="!loginform.valid">LOGIN</button>
    <button type="button" routerLink="/homepage">HOME</button>
    </form>
        </div>
    
    <div *ngIf="isAuthenticated==true;">
      <p class="login-message">
        Login effettuato con successo {{ emailUser }}!
      </p>
    </div>


  </div>
</body>
  


