<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}
.main {
  float: left;
  width: 60%;
  margin-top: 7px;
  padding: 0  20px;
}

.right {
  background-color: #e5e5e5;
  float: left;
  width: 30%;
  padding: 0 15px;
  margin-top: 7px;
  margin-left: 50px;
  text-align: center;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .main, .right {
    width: 100%;
  }
}
</style>
</head>
<body style="font-family:Verdana;color:black;">
    
<div style="background: linear-gradient(237deg, #005ce6,#ff0000);padding:15px;text-align:center;">

  <button mat-button routerLink="" style="font-size:xx-large;color: #e5e5e5;">
    <img src="\assets\foto\logo1.jpg" style="width:40px; height:40px; margin-right:0;">
    MAXI VIP LIU
  </button>

</div>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened style="background-color:#f2f2f2;">
    <mat-list role="list">
      <mat-list-item class="h2" role="listitem" routerLink=""><mat-icon>home</mat-icon>HOME</mat-list-item>
      <mat-list-item class="h2" role="listitem" routerLink="utenti"><mat-icon>person</mat-icon>UTENTI</mat-list-item>
      <mat-list-item class="h2" role="listitem" routerLink="merce"><mat-icon>inventory_2</mat-icon>MERCE</mat-list-item>
      <mat-list-item class="h2" role="listitem" routerLink="fatture"><mat-icon>receipt_long</mat-icon>FATTURE</mat-list-item>

    </mat-list>

  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

