<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}
.main {
  float: left;
  width: 60%;
  margin-top: 7px;
  padding: 0  20px;
}

.right {
  background-color: #e5e5e5;
  float: left;
  width: 30%;
  padding: 0 15px;
  margin-top: 7px;
  margin-left: 50px;
  text-align: center;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .main, .right {
    width: 100%;
  }
}
</style>
</head>
<body style="font-family:Verdana;color:black;">
    
<div style="background: linear-gradient(237deg, #005ce6,#ff0000);padding:15px;text-align:center;">

  <button mat-button routerLink="" style="font-size:xx-large;color: #e5e5e5;">
    <img src="\assets\foto\logo1.jpg" style="width:40px; height:40px; margin-right:0;">
    MAXI VIP LIU
  </button>

</div>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened style="background-color:#f2f2f2;">

    <mat-list role="list">

      <mat-list-item class="h2" role="listitem" routerLink=""><mat-icon>home</mat-icon>HOME</mat-list-item>


      <mat-list-item class="h2" role="listitem" [matMenuTriggerFor]="utente">
          <mat-icon>person</mat-icon>UTENTE
          <mat-menu #utente="matMenu" style="color: #e5e5e5;">
            <button mat-menu-item routerLink="utenti">Lista Utenti</button>
            <button mat-menu-item [matMenuTriggerFor]="menuUtente">Elimina Utente</button>
          </mat-menu>


          <mat-menu #menuUtente="matMenu" style="color: #e5e5e5;">
            <form (click)="stopPropagation($event)" style="text-align: center;">
              <mat-label>Inserire ID da eliminare</mat-label>
              <input type="text" name="idUtente" id="idUtente" >
            </form>
            <button mat-menu-item (click)="onDeleteUtente()" style="margin: auto; width: 55%;">Elimina Utente</button>
          </mat-menu>

      </mat-list-item>



      <mat-list-item class="h2" role="listitem" [matMenuTriggerFor]="merce">
          <mat-icon>inventory_2</mat-icon>MERCE
          <mat-menu #merce="matMenu" style="color: #e5e5e5;">
            <button mat-menu-item routerLink="listaMerce">Lista Merce</button>
            <button mat-menu-item routerLink="merce">Inserisci Merce</button>
            <button mat-menu-item routerLink="formMerce">Modifica Merce</button>
            <button mat-menu-item [matMenuTriggerFor]="menuProdotto">Elimina Merce</button>
          </mat-menu>


          <mat-menu #menuProdotto="matMenu" style="color: #e5e5e5;">
            <form (click)="stopPropagation($event)" style="text-align: center;">
              <mat-label>Inserire ID da eliminare</mat-label>
              <input type="text" name="idProdotto" id="idProdotto" >
            </form>
            <button mat-menu-item (click)="onDeleteMerce()" style="margin: auto; width: 60%;">Elimina Prodotto</button>
          </mat-menu>
  
        </mat-list-item>




        
      <mat-list-item class="h2" role="listitem" [matMenuTriggerFor]="fattura">
          <mat-icon>receipt_long</mat-icon>FATTURE

          <mat-menu #fattura="matMenu" style="color: #e5e5e5;">
            <button mat-menu-item routerLink="listaFattura">Lista Fatture</button>
            <button mat-menu-item routerLink="fatture">Inserisci Fattura</button>
            <button mat-menu-item routerLink="formFattura">Modifica Fattura</button>
            <button mat-menu-item [matMenuTriggerFor]="menuFattura">Elimina Fattura</button>
          </mat-menu>

          <mat-menu #menuFattura="matMenu" style="color: #e5e5e5;">
            <form (click)="stopPropagation($event)" style="text-align: center;">
            <mat-label>Inserire ID da eliminare</mat-label>
            <input type="text" name="idFattura" id="idFattura" >
            <button mat-menu-item (click)="onDeleteFatture()" style="margin: auto; width: 55%;">Elimina Fattura</button>
            </form>
          </mat-menu>  

      </mat-list-item> 

    </mat-list>



  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>



