<body>
  <div class="main">    
  <input type="checkbox" id="chk" aria-hidden="true">
  <div class="signUp">
  <label>Pagamento</label>
  
  <form #pagamentoform="ngForm">
  <p style="color:#fff; margin-left: 120px; font-size:large;">Nome Titolare</p>
  <input class="box" type="text" placeholder="Nome Cognome" ng>

  <p style="color:#fff; margin-left: 120px; font-size:large;">Numero Carta</p>
  <input  class="box" type="number" placeholder="0000 0000 0000 0000">
      
  <div>
  <span style="color:#fff; margin-left: 120px; font-size:large; ">Data di Scadenza</span>
  <span style="color:#fff; margin-left: 120px; font-size:large;">CVV</span>
  </div>
  <br>
  <input type="number" placeholder="DD/MM" style="margin-left: 130px; width: 20%; height: 20px;border-radius: 5px;outline: none;border: none;">
  <input type="number" placeholder="000" style="margin-left: 120px; width: 20%; height: 20px;border-radius: 5px;outline: none;border: none; margin-bottom: 50px;">
    
  <button mat-raised-button type="button" style="background: #732673; color: #fff;  margin-left: 230px; width: 90px;" (click)="ok(); navigateToNewRoute()">PAGA</button>
  <button mat-raised-button type="button" style="background:  #732673; color: #fff; margin-left: 50px; width: 90px;" routerLink="/homepage">ANNULLA</button>
  
  </form>
  <div *ngIf="okk==true">
    <p class="login-message">
      Pagamento effettuato con successo!
    </p>
  </div>


  </div>
  </div>



</body> 
  
