<body style="margin-left: 100px; margin-top: 50px;" *ngIf="array.length!=0;else template">

    <h1 style="font-weight: bold;">Lista Merce</h1>

<ol>
    <div *ngFor="let item of array; let i=index"> 
        <li>       
            UID: <b>{{ item.uid[i] }}</b>
            <br>
            ID: {{ item.id }}
            <br>
            COSTO: {{ item.costo }}
            <br>
            DESCRIZIONE: {{ item.descrizione }}        </li>
    </div>
  
</ol>

</body>
<ng-template #template >
    <h1 style="font-weight: bold;margin-left: 100px; margin-top: 50px;">Lista Merce Vuota</h1>
</ng-template>
