<h1 style="font-weight: bold;margin-left: 100px; margin-top: 20px;">Lista Merce</h1>


<body style="margin-left: 50px; margin-top: 20px;" *ngIf="length==true;else template">


<ol>

    <div *ngFor="let item of array; let i=index"> 
        <li>     
            TITOLO: {{ item.titolo }}  
            <br>
            DESCRIZIONE: {{ item.descrizione }}        
            <br>
            COSTO: {{ item.costo }}
            <br>
            IMMAGINE:  {{ item.immagine}}
            <br>
        </li>
        <br>
    </div>
</ol>

</body>
<ng-template #template >
    <h1 style="font-weight: bold; margin-left: 400px; margin-top: 100px;opacity: 0.6;">Lista Merce Vuota</h1> 
    <img mat-card-image src="\assets\foto\noBox.png" style="width: 30%;opacity: 0.5;margin-left: 350px;">
</ng-template>
