<body style="margin-left: 70px; margin-top: 30px;" *ngIf="length; else template">
    <h1 style="font-weight: bold;">Lista Ordini</h1>
    <div *ngFor="let uidOrdine of uidOrdini; let j = index">
        <ul>
            <li>
                <b>UID-ORDINE: </b> {{ uidOrdine }} 
                <button mat-icon-button style="color:black;" (click)="onDelete(uidOrdine)"><mat-icon>delete</mat-icon></button>
                <br>
                <b>TOTALE:<span matTextPrefix>€&nbsp;</span>  </b> {{ listaOrdine[uidOrdine].totale }} 
                <br>
                <b>UTENTE:</b> {{  listaOrdine[uidOrdine].user    }}
                <br>
                <br>
                <ol>
                    <li *ngFor="let prodotto of listaOrdine[uidOrdine].prodotti; let i = index" style="font-size: x-small;">
                        uidProdotto: {{ prodotto[0] }}
                        <br>
                        descrizioneProdotto: {{ prodotto[1] }}
                        <br>
                        costoProdotto:  {{ prodotto[2] }}
                        <br>
                        <img [src]="prodotto[3]" alt="Product Image" style="width: 110px;height: 120px; margin-bottom: 10px;">
                    </li>
                </ol>
                <br>
                <br>
            </li>
        </ul>
    </div>
</body>
<ng-template #template>
    <h1 style="font-weight: bold; margin-left: 400px; margin-top: 100px;opacity: 0.6;">Lista Ordini Vuota</h1> 
    <img mat-card-image src="\assets\foto\noInvoice.png" style="width: 20%;opacity: 0.5;margin-left: 420px;">
</ng-template>

